<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./materiel.css">
</head>
<body>
    <div id="blockContainer"></div>
</body>
<script>
    const vscode = acquireVsCodeApi();

    window.addEventListener('message', event => {
        const message = event.data;

        if (message.blocks) {
            blockListRender(message.blocks.blocks);
        }
    })

    function blockListRender(blocks) {
        let list = '';
        blocks.map((item, index) => {
            list += `<div class="block-item">
                    <p class="block-title">${item.title}</p>
                    <p class="block-desc">${item.description}</p>
                    <div class="block-snapshot">
                        <img src="${item.img}"/>
                    </div>

                    <div class="block-operation">
                        <a href="javascript:;" class="op-add" itemIndex="${index}">添加</a>   
                        <a href="${item.previewUrl}" target="_blank">预览</a>
                    </div>
                </div>`
        });

        document.getElementById('blockContainer').innerHTML = list;

        document.getElementById("blockContainer").addEventListener("click", (e) => {
            if (e.target.className === 'op-add') {
                const itemIndex = e.target.attributes.itemIndex.value;
                const selected = blocks[itemIndex];

                vscode.postMessage({blockSelected: selected});
            }
        });
    }

</script>
</html>