.tabs {
  display: flex;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tabs-item {
  flex: 1;
  height: 30px;
  font-size: 14px;
  text-align: center;
  border-bottom: 3px solid none;
  cursor: pointer;
}

.tabs-item.active {
  border-bottom: 3px solid rgb(14, 99, 156);
}

.search {
    position: absolute;
    height: 40px;
    top: 70px;
    left: 20px;
    right: 20px;
    padding-bottom: 10;
    display: flex;
}

.search input {
    flex: 1;
    height: 30px;
    background: none;
    border: 1px solid #666;
    padding: 0 10px;
    color: #fff;
}

.container {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 20px;
  right: 20px;
  overflow: auto;
}

.block-item {
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
}

.block-title {
  font-size: 16px;
}

.block-desc {
  font-size: 12px;
}

.block-snapshot {
  height: 100px;
}

.block-snapshot img {
  height: 100%;
}

.block-operation {
  display: flex;
  height: 32px;
}

.block-operation a {
  display: block;
  flex: 1;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  background: rgb(14, 99, 156);
  color: #fff;
  text-decoration: none;
  margin: 0 2px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.pagination > div {
  height: 32px;
  min-width: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}

.pagination > div.cur {
  background: rgb(14, 99, 156);
  color: #fff;
}
