.tabs {
  display: flex;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tabs-item {
  flex: 1;
  height: 30px;
  font-size: 14px;
  text-align: center;
  border-bottom: 3px solid none;
  cursor: pointer;
}

.tabs-item.active {
  border-bottom: 3px solid var(--vscode-button-background);
}

.search {
    position: absolute;
    height: 40px;
    top: 70px;
    left: 20px;
    right: 20px;
    padding-bottom: 10;
    display: flex;
}

.search input {
    display: none;
    flex: 1;
    height: 30px;
    background: none;
    padding: 0 10px;
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-editorRuler-foreground);
}

.container {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 20px;
  right: 20px;
  overflow: auto;
}

.block-item {
  border-bottom: 1px solid var(--vscode-editorRuler-foreground);
  padding-bottom: 20px;
}

.block-title {
  font-size: 16px;
}

.block-desc {
  font-size: 12px;
}

.block-snapshot {
  height: 100px;
}

.block-snapshot img {
  height: 100%;
}

.block-operation {
  display: flex;
  height: 32px;
}

.block-operation a {
  display: block;
  flex: 1;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  background: var(--vscode-button-background);
  color: #fff;
  text-decoration: none;
  margin: 0 2px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.pagination > div {
  height: 32px;
  min-width: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}

.pagination > div.cur {
  background: var(--vscode-button-background);
  color: #fff;
}


.loading {
    display: inline-block;
    border: 4px solid hsl(222, 100%, 95%);;
    border-left-color: var(--vscode-button-background);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
