<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dendrobium</title>
    <link rel="stylesheet" href="./materiel.css">
</head>
<body>
    <div class="tabs">
        <div class="tabs-item active">tab1</div>
        <div class="tabs-item">tab2</div>
        <div class="tabs-item">tab3</div>
    </div>
    <div class="search">
        <input type="text" name="" id="keyword">
    </div>
    <div class="container">
        <div id="blockContainer"></div>
        <div class="pagination">
        </div>
    </div>
</body>
<script src="./jquery-3.5.1.slim.min.js"></script>
<script src="./materiel.js"></script>
</html>