.block-item {
    border-bottom: 1px solid #666;
    padding-bottom: 20px;
}

.block-title {
    font-size: 16px;
}

.block-desc {
    font-size: 12px;
}

.block-snapshot {
    height: 100px;
}

.block-snapshot img {
    height: 100%;
}

.block-operation {
    display: flex;
    height: 32px;
}

.block-operation a {
    display: block;
    flex: 1;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
    background: rgb(14, 99, 156);
    color: #fff;
    text-decoration: none;
    margin: 0 2px;
}