<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dendrobium</title>
    <link rel="stylesheet" href="./material.css">
</head>
<body>
    <div class="loading"></div>
    <div class="tabs">
    </div>
    <div class="search">
        <input type="text" placeholder="" id="keyword">
    </div>
    <div class="container">
        <div id="blockContainer"></div>
        <div class="pagination">
        </div>
    </div>
    <!-- dialog -->
    <div class="shadow">
        <div class="dialog">
            <div class="dialog-header">
                <div id="close">✕</div>
            </div>
            <div id="dialogMessage">请选择安装方式</div>
            <div class="button-container">
                <div id="leftButton" type="left">直接插入项目中</div>
                <div id="rightButton" type="right">作为 npm 依赖安装</div>
            </div>
        </div>
    </div>
</body>
<script src="./jquery-3.5.1.slim.min.js"></script>
<script src="./material.js"></script>
</html>