.dendrobium {
  height: 100%;
  width: 100%;
  min-width: 360px;
  position: absolute;
  left: 0;
  top: 0;
}

.tabs {
  display: flex;
  margin: 20px;
  position: absolute;
  min-width: 320px;
  top: 0;
  left: 0;
  right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tabs-item,
.selected-library {
  flex: 1;
  height: 30px;
  font-size: 14px;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  min-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 8px;
  line-height: 30px;
}

.tabs-item {
  cursor: pointer;
}

.selected-library {
  border-bottom: 3px solid var(--vscode-tab-border);
  margin-right: 8px;
}

.drop-down {
  position: relative;
  cursor: pointer;
}

.drop-down path {
  fill: var(--vscode-tab-activeForeground);
}

.drop-down:hover .select {
  display: block;
}

.select {
  display: none;
  position: absolute;
  top: 33px;
  right: 0;
  max-height: 160px;
  width: 120px;
  overflow-y: auto;
  z-index: 9;
  background: var(--vscode-dropdown-background);
  border: 1px solid var(--vscode-dropdown-border);
}

.select .tabs-item {
  border-bottom: 1px solid var(--vscode-dropdown-border);
}

.select .tabs-item:last-child {
  border: 0;
}

.tabs-item.active,
.select .tabs-item:hover {
  background: var(--vscode-list-hoverBackground);
}

.search {
  position: absolute;
  height: 40px;
  top: 70px;
  left: 20px;
  right: 20px;
  padding-bottom: 10px;
  display: flex;
}

.search input {
  display: none;
  flex: 1;
  height: 30px;
  background: none;
  padding: 0 10px;
  color: var(--vscode-input-foreground);
  background: var(--vscode-input-background);
  border: 0;
}

.container {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 20px;
  right: 20px;
  overflow: auto;
}

#getSnippets {
  margin: 20px 0;
}

.block-item {
  border-bottom: 1px solid var(--vscode-tab-border);
  padding-bottom: 20px;
}

@media (min-width: 576px) {
  .block-item {
    display: inline-block;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    vertical-align: top;
  }
}

@media (min-width: 1200px) {
  .block-item {
    display: inline-block;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    vertical-align: top;
  }
}

.block-title {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.block-title span {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.block-star {
  font-size: 14px;
  line-height: 16px;
  margin-left: 8px;
}

.block-star svg {
  vertical-align: text-top;
  cursor: pointer;
}

.block-star path {
  fill: var(--vscode-tab-activeForeground);
}

.block-desc {
  font-size: 12px;
  height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tags {
  margin: 10px 0;
}

.tag-item {
  display: inline-block;
  border-radius: 1px;
  margin: 5px 8px 5px 0;
  padding: 3px 8px;
  border: 1px solid var(--vscode-tab-border);
  background: var(--vscode-input-background);
}

.block-snapshot {
  margin: 10px 0;
  /* height: 100px; */
}

.block-snapshot img {
  /* height: 100%; */
  width: 100%;
  /* object-fit: cover; */
  object-fit: contain;
  height: 180px;
}

.block-operation {
  display: flex;
  height: 32px;
}

.block-operation a {
  display: block;
  flex: 1;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  background: var(--vscode-button-background);
  color: #fff;
  text-decoration: none;
  margin: 0 2px;
  border-radius: 1px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.pagination > div {
  height: 32px;
  min-width: 32px;
  line-height: 32px;
  border-radius: 1px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}

.pagination > div.cur {
  background: var(--vscode-button-background);
  color: #fff;
}

.pagination .hidden {
  display: none;
}

.loading {
  display: inline-block;
  border: 4px solid hsl(222, 100%, 95%);
  border-left-color: var(--vscode-button-background);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 对话框 */
.shadow {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 76%;
  /* height: 200px; */
  background: var(--vscode-editor-background);
  /* padding: 20px 20px 60px; */
  padding: 20px;
}

#close {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  float: right;
}

#dialogMessage {
  margin: 30px 0 20px;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}

#dialogMessage .button {
  display: none;
}

#dialogMessage .button.show {
  display: block;
}

.button {
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  background: var(--vscode-button-background);
  cursor: pointer;
  color: #fff;
  margin: 8px 5px 8px 10px;
}

.button-container {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.button-container div {
  margin: 8px 5px 8px 10px;
  color: #fff;
  flex: 1;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  background: var(--vscode-button-background);
  cursor: pointer;
}
